@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
$ancient: #4985FF;
.button {
    margin-top: 40px;
    border: 2px solid $ancient;
    background-color: $ancient;
    color: white;
    font-size: 16px;
    max-width: 200px;
    width: 200px;
    padding: 12px;
    border-radius: 100px;
    cursor: pointer;
    transition: .3s;
    &:hover {
        background-color: rgba($ancient,0)
    }
}
header {
    background: url("/assets/images/background.png") 10%;
    background-size: cover;
    color: black;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    .navbar {
        padding: 0 29px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        line-height: 22px;
        align-items: center;
        align-content: center;
        max-height: 110px;
        border-bottom: 1px solid #A1A1A1;
        .navbar__logo {
            background: url('/assets/images/window.png') 0 50% no-repeat;
            background-size:98px;
            height: 111px;
            display: flex;
            align-items: center;
            padding-left: 55px;
            font-size: 18px;
        }
        .navbar__links {
            display: flex;
            align-items: center;
            list-style: none;
            margin-left: 15%;
            line-height: 19px;
            .navbar__link {
                padding:  27px 22px;
                margin: 0 8px;
                margin-top: 38px;
                border-bottom: 2px solid rgba(0,0,0,0);
                cursor: pointer;
                transition: .2s;
                &:hover {
                border-color: rgb(218, 218, 218);
                }
            }
            .navbar__link_active {
                border-bottom: 2px solid white;
            }
        }
        .navbar__phones {
            display: flex;
            justify-content: space-around;
            margin-top: 19px;
            width: 380px;
            font-size: 18px;
        }
        .navbar__button {
            display: none;
            width: 50px;
            height: 37px;
            position: relative;
            transform: rotate(0deg);
            transition: .5s ease-in-out;
            cursor: pointer;
            span {
                display: block;
                position: absolute;
                height: 5px;
                width: 50px;
                background: #ffffff;
                border-radius: 9px;
                opacity: 1;
                left: 0;
                transform: rotate(0deg);
                transition: .25s ease-in-out;
                &:nth-child(1) {
                    top: 0px;
                    transform-origin: left center;
                }
                  
                &:nth-child(2) {
                    top: 14px;
                    transform-origin: left center;
                }
                  
                &:nth-child(3) {
                    top: 28px;
                    transform-origin: left center;
                }
            }
        }
        .open {
            span {
                background: black;
                &:nth-child(1) {
                    transform: rotate(45deg);
                    top: 0px;
                    left: 8px;
                }
                &:nth-child(2) {
                    width: 0%;
                    opacity: 0;
                    left: -60px;
                }
                &:nth-child(3) {
                    transform: rotate(-45deg);
                    top: 35px;
                    left: 8px;
                }
            }
        }
    }
    .header__main {
        display: flex;
        flex-direction: column;
        align-items:center;
        align-content: center;
        justify-content: center;
        font-size: 24px;
        height: 70%;
        .header__title {
            max-width: 670px;
            width: 670px;
            text-align: center;
        }
        
    }
}
main {
    .main__aboutUs {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 634px;
        height: 634px;
        .aboutUs__title {
            margin-top: 2%;
            font-size: 36px;
            margin-bottom: 101px;
        }
        .aboutUs__description {
            line-height: 24px;
            margin-top: 23px;
            text-align: justify;
            width: 730px;
            color: #999999;
        }
    }
    .main__stages {
        .stages__desktop {
            height: auto;
            width: 100%;
        }
        .stages__mobile {
            display: none;
        }
    }
    .main__popularGoods {
        max-height: 797px;
        height: 800px;
        .popularGoods__title {
            margin-top: 2%;
            color:#323232;
            font-size: 48px;
            text-align: center;
            font-weight: 600;
            margin-bottom: 5%;
        }
        .popularGoods__carousel {
            display: flex;
            justify-content: space-around;
            align-items: center;
            .carousel__content {
                border-bottom: 1px solid rgb(221, 221, 221);
                display: flex;
                width: 70%;
                justify-content: space-around;
                .carousel__mobilebutton {
                    display: none;
                }
                .carousel__textBlock {
                    font-size: 24px;
                    font-weight: 400;
                    color: #999999;
                    .carousel__price {
                        font-size: 32px;
                        font-weight: 400;
                    }
                    .carousel__description {
                        margin-top: 10px;
                        text-indent: 30px;
                        max-width: 613px;
                    }
                    .carousel__list {
                        list-style-type: none;
                        margin-left: 15px;
                        .list__item {
                            &::before {
                                content: '- '
                            }
                        }
                    }
                    .carousel__button {
                        margin-top: 40px;
                        border: 2px solid $ancient;
                        background-color: $ancient;
                        color: white;
                        font-size: 16px;
                        max-width: 200px;
                        width: 200px;
                        padding: 12px;
                        border-radius: 100px;
                        cursor: pointer;
                        transition: .3s;
                        &:hover {
                            color: $ancient;
                            background-color: rgba($ancient,0)
                        }
                    }
                }
                .carousel__image {
                    margin-bottom: -55px;   
                    height:514px;
                    width: 435px;
                    filter: drop-shadow(10px 10px 5px #b9b9b9)
                }
            }
            .carousel__button {
                max-width: 50px;
                max-height: 50px;
                border-radius: 40px;
                font-size: 20px;
                height: 100px;
                width:100px;
                background-color: #151435;
                border: 0;
                color: white;
                cursor: pointer;
            }
        }
    }
    .main__prices {
        .prices__description {
            color: white;
            max-height: 253px;
            background: linear-gradient(180.33deg, #141334 49.55%, #260C3A 99.78%), #C4C4C4;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            height: 500px;
            padding: 100px 310px 0 310px;
            .prices__title {
                font-size: 36px;
                font-weight: 700;
            }
            .button {
                margin: 0;
            }
        }
        .prices__windows {
            position: relative;
            top: -110px;
            margin: 0 310px;
            display: flex;
            justify-content: space-between;
            .windows__window {
                max-width: 364px;
                background: white;
                display: flex;
                flex-direction: column;
                padding: 30px 13px;
                align-items: center;
                box-shadow: 4px 9px 9px  rgba(0, 0, 0, 0.233);
                .window__title {
                    font-size: 20px;
                    margin-bottom: 30px;
                }
                .window__image {
                    width: 269px;
                }
                .window__description {
                    margin-top: 50px;
                    margin-left: 60px;
                    display: flex;
                    flex-direction: column;
                    .row {
                        font-size: 14px;
                        line-height: 22px;
                        width: auto;
                        display: flex;
                        max-width: 364px;
                        width: 364px;
                        .row__key {
                            color: gray;
                        }
                        .row__dots {
                            flex-grow: 1;
                            background-image: linear-gradient(to right, rgb(116, 116, 116) 10%, rgba(255, 255, 255, 0) 0%);
                            background-position: bottom;
                            background-size: 5.1px 1.3px;
                            background-repeat: repeat-x;
                        }
                        .row__value {
                            font-weight: 500;
                            color: black;
                            flex-basis: 150px;
                        }
                    }
                }
                .button {
                    &:hover {
                        color: $ancient !important;
                    }
                }
            }
        }
    }
    .main__consultation {
        $shadow_color: rgba(0, 0, 0, 0.342);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 75px ;
        .consultation__title {
            font-size: 36px;
            font-weight: 600;
        }
        .consultation__form {
            display: flex;
            flex-direction: column;
            max-width: 526px;
            width: 526px;
            .consultation__input {
                border: 2px solid black;
                padding: 10px 12px;
                font-weight: 500;
                margin-top: 10%;
                margin-bottom: 7%;
                transition: .3s;
                &::placeholder {
                    font-weight: 500;
                    color: rgba(0, 0, 0, 0.39);
                }
                &:focus {
                    box-shadow: 0 0 10px $shadow_color;
                }
            }
            .consultation__comment {
                border: 2px solid black;
                padding: 10px 12px;
                font-weight: 500;
                transition: .3s;
                resize: none;
                &::placeholder {
                    font-weight: 500;
                    color: rgba(0, 0, 0, 0.39);
                }
                &:focus {
                    box-shadow: 0 0 10px  $shadow_color;
                }
            }
            .button {
                margin-top: 50px;
                align-self: center;
                &:hover {
                    color: $ancient;
                }
            }
        }
    }
}

footer {
    display: flex;
    justify-content: space-evenly;
    background: #F6F6F8;
    .footer__title {
        margin-top: 50px;
        margin-bottom: 50px;
        font-weight: 600;
    }
    .footer__list {
        .list__item {
            cursor: pointer;
            display: flex;
            align-items: center;
            margin-bottom: 32px;
            font-weight: 300;
            svg {
                margin-right: 15px;
            }
        }
    }
    .footer__contacts {
        .contacts__list {
            color: #999999;
            list-style-type: none;
        }
    }
    .footer__links {
        .links__list {
            color: #999999;
            list-style-type: none;

            .links__item {
                &::before {
                    content: '❯';
                    font-weight: 100;
                    font-size: 15px;
                    margin-right: 10px;
                }
            }
        }
    }
}
@media (max-width: 1880px) {
    main {
        .main__prices {
            .prices__windows {
                margin: 0 100px;
            }
        }
    }
}
@media (max-width:1630px) {
    header {
        .navbar {
            .navbar__links {
                margin-left: 5%;
            }
        }
    }
    main {
        .main__prices {
            .prices__windows {
                margin: 0 50px;
            }
        }
    }
}

@media (max-width:1465px) {
    header {
        .navbar {
            .navbar__button {
                display: block;
            }
            .navbar__links {
                height: 90vh;
                top: 0;
                right: 0;
                display: none;
                flex-direction: column;
                align-items:flex-end;
                height: 100vh;
                position: absolute;
                background-color: rgba(238, 238, 238, 0.82);
                width: 80%;
                color: black;
                font-weight: 500;
                font-size: 40px;
                .navbar__link {
                    border-bottom: 4px solid rgba(black,0);
                    &:hover {
                        border-bottom: 4px solid gray;
                    }
                    &:first-child {
                        margin-top: 120px;
                    }
                }
                .navbar__link_active {
                    border-bottom: 4px solid black;
                }
            }
        }
    }
}
@media (max-width:1320px) {
    header {
        .navbar {
            .navbar__logo {
                position: relative;
                left: -30px;
                padding-left: 55px;
            }
        }
    }
    main {
        .main__aboutUs {
            .aboutUs__description {
                max-width: 75%;
            }
        }
        .main__prices {
            .prices__description {
                padding: 0;
                justify-content: center;
                align-items: center;
                .prices__title {
                    margin-bottom: 13%;
                }
                .button {
                    display: none;
                }
            }
            .prices__windows {
                margin: 0;                
                justify-content: center;
                
                .windows__window {
                    display: none;
                    max-width: 600px;
                    width: 500px;
                    &:first-child {
                        display: flex;
                    }
                }
            }
        }
        .main__popularGoods {
            max-height: 880px;
            height: 1000px;
            
            .popularGoods__carousel {
                .carousel__content {
                    flex-direction: column-reverse;
                    align-items: center;
                    .carousel__textBlock {
                        margin-top: 40px;
                        font-size: 20px;
                        .carousel__price {
                            font-size: 24px;
                        }
                    }
                    .carousel__mobilebutton {
                        display: block;
                    }
                    .carousel__button {
                        display: none;
                    }
                }
                .carousel__mobilebutton {
                    align-self: center;
                    margin-bottom: 20px;
                }
            }
        }
    }
}
@media (max-width:900px) {
    header {
        background: url("/assets/images/background__mobile.png") 10%;
        background-size: cover;
        .navbar {
            .navbar__links {
                display: none;
                flex-direction: column;
                align-items:flex-end;
                font-size: 30px;
                height: 100vh;
                .navbar__link {
                    padding: 10px 0;
                }
            }
            .navbar__phones {
                justify-content: center;
                .navbar__time {
                    display: none;
                }
            }
            .navbar__logo {
                background: none;
            }
        }
        .header__main {
            .header__title {
                max-width: 90%;
                font-size: 32px;
            }
        }
    }
    main {
        .main__stages {
            .stages__desktop {
                display: none;
            }
            .stages__mobile {
                width: 100%;
                display: block;
            }
        }
        .main__aboutUs {
            margin-bottom: 50px;
            .aboutUs__title {
                margin-top: 30px;
                margin-bottom: 10px;
            }
        }
        .main__popularGoods {
            .popularGoods__title {
                margin-top: 20px;
                font-size: 35px;
            }
        }
    }
}
@media (max-width: 550px) { 
    header {
        background: url("/assets/images/background__mobile.png") 10%;
        background-size: cover;
        .navbar {
            .navbar__links {
                font-size: 24px;
            }
            .navbar__logo {
                font-size: 16px;
                padding-left: 20px;
            }
            .navbar__phones {
                font-size: 16px;
            }
            .navbar__button {
                span {
                    height: 4px;
                    width: 45px;
                }
            }
            .open {
                span{
                    &:nth-child(1) {
                        transform: rotate(45deg);
                        top: 1px;
                        left: 8px;
                    }
                    &:nth-child(2) {
                        width: 0%;
                        opacity: 0;
                        left: -60px;
                    }
                    &:nth-child(3) {
                        transform: rotate(-45deg);
                        top: 34px;
                        left: 8px;
                    }
                }
            }
        }
        .header__main {
            .header__title {
                font-size: 26px;
            }
        }
    }
    main {
        .main__popularGoods {
            .popularGoods__carousel {
                .carousel__content {
                    .carousel__image {
                        height: auto;
                        max-width: 300px;
                    }
                    .carousel__button {
                        max-width: 30px;
                    }
                }
            }
        }
        .main__consultation {
            .consultation__title {
                text-align: center;
            }
            .consultation__form {
                max-width: 90%;
            }
        }
        .main__prices {
            .prices__title {
                max-width: 90%;
            }
            .prices__windows {
                margin-top: 30px;
                .windows__window {
                    max-width: 75%;
                    .window__title {
                        text-align: center;
                    }
                    .window__description {
                        margin-left: 0 auto;
                        width: 99%;
                        .row {
                            line-height: 16px;
                            font-size: 11px;
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
    footer {
        align-items: center;
        flex-direction: column;
        .footer__contacts {
            .contacts__item {
                svg {
                    display: none;
                }
            }
        }
        .footer__links {
            .links__list {
                .links__item {
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
}
@media (max-width: 440px) {
    header {
        .navbar {
            .navbar__logo {
                padding-left: 10px;
            }
            .navbar__links {
                font-size: 20px;
                height: 100vh;
            }
            .navbar__phones {
                justify-content: flex-start;
            }
        }
    }
    main{
        .main__prices {
            .prices__windows {
                .windows__window {
                    max-width: 85%;
                }
            }
        }
    }
}